.container {
  width: 745px;
}
.intro-page {
  padding-bottom: 100px;
}
.intro-page .container {
  padding-left: 0;
  padding-right: 0;
}
.intro-page .container .scenario-menu {
  text-align: center;
}
.scenario-row {
  height: 800px;
}
.intro-header__title {
  padding: 55px 0 20px 0;
  text-align: center;
  line-height: 50px;
}
.intro-header__description {
  padding: 20px 0;
  background-color: #99c9ef;
  margin-bottom: 50px;
}
.intro-body {
  list-style-type: none;
  float: right;
  padding: 0 7px;
}
.intro-body a {
  text-decoration: none;
  color: #2f2f2f;
}
.intro-body a:hover {
  text-decoration: none;
  color: #0078d7;
}
.intro-list {
  display: inline-block;
  padding: 0;
}
.intro-scenarios {
  margin: 0 0 15px 0;
}
.intro-scenarios .intro-scenarios__image {
  margin-bottom: 15px;
}
.intro-scenarios .intro-scenarios__quote {
  padding-top: 20px;
  border-top: #e3e3e3 4px solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  max-width: 178px;
}
.bottom-bar {
  position: fixed;
  bottom: 0;
  background-color: #2f2f2f;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
}
.bottom-bar a {
  display: inline-block;
}
.bottom-bar .bottom-bar__link {
  padding: 0 20px;
}
.bottom-bar .bottom-bar__link:hover {
  color: white;
  text-decoration: none;
}
.bottom-bar .bottom-bar__link--blue {
  background-color: #0078d7;
  padding: 13px 20px;
}
.bottom-bar .bottom-bar__link--blue:hover {
  background-color: #004881;
  color: white;
  text-decoration: none;
}
.bottom-bar .glyphicon-circle-arrow-right {
  padding-left: 10px;
  font-size: 20px;
}
.bottom-bar .glyphicon-circle-arrow-left {
  padding-right: 10px;
  font-size: 20px;
}
.bottom-bar .glyphicon-menu-left {
  top: 2px;
}
.bottom-bar .glyphicon-menu-right {
  top: 2px;
}
/*Video player modal*/
.modal-body {
  text-align: center;
}
.modal-body video {
  width: 100%;
  height: auto;
}
.modal-content {
  background-color: #2f2f2f;
}
.modal-content .glyphicon {
  color: white;
  font-size: 24px;
  float: right;
  padding: 20px;
  z-index: 1;
  cursor: pointer;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 80%;
  }
}