<ul style="float: right;" class="col-xs-11 nav nav-pills" id="nav-menu" [style.backgroundColor]="isShow?'#2f2f2f':'inherit'">

    <li class="nav-item nav-menu-show text-center" (click)="onClick()" style="text-align: center; cursor: pointer;">
        <div class="glyphicon" aria-hidden="true" [class.glyphicon-chevron-left]="!isShow"
             [class.glyphicon-chevron-right]="isShow">
        </div>
        <div class="xs-menu-text">
            <span [style.display]="isShow?'inherit':'none'">HIDE MENU</span>
            <span [style.display]="isShow?'none':'inherit'">SHOW MENU</span>
        </div>
    </li>

    <li class="nav-item dropdown col-xs-2 text--xs" [style.display]="isShow?'inherit':'none'">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <div class="elipsedcontainer">
                <p class="ellipsed">{{clickthroughName}}</p>
            </div>
            <div class="glyphicon glyphicon-menu-down" aria-hidden="true"></div>
        </a>
        <div class="dropdown-menu">
            <span *ngFor="let clickthrough of clickthroughs">
                <a class="dropdown-item" [routerLink]="['/Intro', {id: clickthrough.id}]">{{clickthrough.longTitle}}</a>
            </span>

        </div>
    </li>


    <li class="nav-item nav-item-scenario text-center col-xs-2 intro " *ngFor="let scenario of scenarios.slice().reverse()" (click)="gotoScenario(scenario.id)"
        [style.display]="isShow?'inherit':'none'" [class.selected]="currentScenarioId==scenario.id">
        <a>
            <span class="glyphicon glyphicon-{{scenario.menuIcon}}"></span>
            <div class="xs-menu-text">{{scenario.shortTitle}}</div>
        </a>
    </li>

    

    <li class="nav-item nav-item-scenario col-xs-1 text-center" (click)="gotoIntro()" [style.display]="isShow?'inherit':'none'">
        <a>
            <span class="glyphicon glyphicon-home"></span>
            <div class="xs-menu-text">INTRO</div>
        </a>
    </li>
</ul>
