.mfa-long__password {
  bottom: 435px;
  left: 397px;
  height: 165px;
  width: 293px;
  position: relative;
}
.mfa-scenario1__problem {
  position: relative;
  bottom: 15px;
}
.mfa-scenario1__post-it {
  left: 427px;
  height: 65px;
  width: 123px;
  position: relative;
  bottom: 383px;
}
.mfa-scenario1__it-rules-long {
  left: 136px;
  height: 214px;
  width: 192px;
  position: relative;
  bottom: 645px;
  z-index: -1;
}
.mfa-scenario1__it-lady {
  left: 24px;
  height: 247px;
  width: 236px;
  position: relative;
  bottom: 776px;
}
.mfa-scenario1__it-rules-short {
  bottom: 370px;
  left: 58px;
  height: 37px;
  width: 215px;
  position: relative;
}
.mfa-short__password {
  left: 366px;
  height: 64px;
  width: 305px;
  position: relative;
  bottom: 463px;
}
.mfa-check__mark {
  left: 387px;
  height: 64px;
  width: 10px;
  position: relative;
  bottom: 296px;
}
.mfa-scenario1__tooltip1 {
  bottom: 1430px;
  left: 35px;
}
.mfa-scenario1__tooltip2 {
  bottom: 1225px;
  left: 150px;
  z-index: 1;
}
.mfa-scenario1__tooltip3 {
  bottom: 1531px;
  left: 332px;
}
.mfa-scenario1__tooltip4 {
  bottom: 1545px;
  left: 575px;
}
.mfa-scenario1__tooltip5 {
  bottom: 1377px;
  left: 560px;
}
.mfa-scenario1__tooltip6 {
  bottom: 720px;
  left: 28px;
}
.mfa-scenario1__tooltip7 {
  bottom: 718px;
  left: 334px;
}
.mfa-scenario1__tooltip8 {
  bottom: 847px;
  left: 550px;
}
.mfa-scenario1__tooltip9 {
  bottom: 695px;
  left: 532px;
}
.scenario2-desk-guy {
  bottom: 298px;
  left: 100px;
  height: 229px;
  width: 129px;
  position: relative;
  z-index: 1;
}
.mfa-scenario2__problem {
  margin-top: -17px;
}
.mfa-scenario2__bad-dream {
  bottom: 407px;
  left: 154px;
  height: 98px;
  width: 555px;
  position: relative;
}
.mfa-scenario2__locked-monitor {
  bottom: 327px;
  left: 111px;
  width: 99px;
  height: 74px;
  position: relative;
}
.mfa-scenario2__user {
  bottom: 446px;
  left: 73px;
  height: 96px;
  width: 131px;
  position: relative;
}
.mfa-scenario2__exclamation {
  bottom: 612px;
  left: 89px;
  height: 39px;
  width: 35px;
  position: relative;
}
.mfa-scenario2__solution {
  margin-top: -35px;
}
.mfa-scenario2__good-dream {
  bottom: 412px;
  left: 151px;
  width: 555px;
  height: 42px;
  position: relative;
}
.mfa-scenario2__pin-monitor {
  bottom: 271px;
  left: 110px;
  width: 99.5px;
  height: 75px;
  position: relative;
}
.mfa-scenario2__happy-user {
  bottom: 391px;
  left: 74px;
  width: 131px;
  height: 153px;
  position: relative;
}
.mfa-scenario2__tooltip1 {
  bottom: 1400px;
  left: 42px;
}
.mfa-scenario2__tooltip2 {
  bottom: 1418px;
  left: 330px;
}
.mfa-scenario2__tooltip3 {
  bottom: 1300px;
  left: 396px;
}
.mfa-scenario2__tooltip4 {
  bottom: 1265px;
  left: 610px;
}
.mfa-scenario2__tooltip5 {
  bottom: 727px;
  left: 137px;
}
.mfa-scenario2__tooltip6 {
  bottom: 568px;
  left: 224px;
}
.mfa-scenario2__tooltip7 {
  bottom: 648px;
  left: 495px;
}
.mfa-scenario2__tooltip8 {
  bottom: 620px;
  left: 611px;
}