ul.dropdown-menu {
  top: 60px;
  left: -10px;
  padding: 30px 30px 10px 30px;
}
.show-menu-content {
  background-color: #99c9ef;
  overflow: hidden;
  height: auto;
  margin: 5px 0 0 0;
  left: -10px;
  padding-top: 30px;
  z-index: -1;
}
.sticky-navbar {
  height: 67px;
  width: 100%;
  z-index: 2;
  /*put it on top of all illustrations*/
}
.sticky-navbar showall-tips ul {
  height: 67px;
  display: table;
}
.sticky-navbar showall-tips ul div .dropdown-toggle.show-menu,
.sticky-navbar showall-tips ul .show-all-tips-menu .dropdown-toggle.show-menu {
  padding: 0 !important;
}
.sticky-navbar showall-tips ul #showall {
  padding: 0;
  width: 100%;
}
.sticky-navbar #nav-menu {
  padding-right: 0;
  position: fixed;
  right: 0;
}
.sticky-navbar #nav-menu li {
  float: right;
}
.sticky-navbar #nav-menu .nav-menu-show {
  width: 66px;
  color: #FFFFFF;
  padding: 10px;
  float: right;
  height: 67px;
  background-color: #000;
}
.sticky-navbar #nav-menu .nav-menu-show .glyphicon {
  color: #99c9ef;
}
.sticky-navbar #nav-menu .dropdown {
  padding: 20px 10px 20px 10px;
  margin-left: 10px;
}
.sticky-navbar #nav-menu .dropdown .dropdown-menu {
  padding: 0;
  background-color: #C8E7FC;
  margin: 0;
  top: 45px;
  left: 9px;
}
.sticky-navbar #nav-menu .dropdown .dropdown-menu a {
  color: #000;
  display: block;
  padding: 10px;
}
.sticky-navbar #nav-menu .dropdown .dropdown-menu a:link,
.sticky-navbar #nav-menu .dropdown .dropdown-menu a:visited {
  background-color: #C8E7FC;
}
.sticky-navbar #nav-menu .dropdown .dropdown-menu a:hover {
  background-color: #A3D3F9;
  text-decoration: none;
}
.sticky-navbar #nav-menu .dropdown-toggle {
  background-color: #FFFFFF;
  border-radius: 0;
  padding: 5px 10px;
  color: #000;
  height: 27px;
  overflow: hidden;
}
.sticky-navbar #nav-menu .elipsedcontainer {
  float: left;
  max-width: 144px;
}
.sticky-navbar #nav-menu .ellipsed {
  margin: 0;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sticky-navbar #nav-menu .dropdown .glyphicon-menu-down {
  padding: 0 5px;
  float: right;
  color: #99c9ef;
}
.sticky-navbar #nav-menu .nav-item-scenario {
  padding: 8px 10px 10px 10px;
  margin: 0;
  height: 67px;
  text-align: center;
  cursor: pointer;
}
.sticky-navbar #nav-menu .nav-item-scenario:hover {
  background-color: #626262;
}
.sticky-navbar #nav-menu .nav-item-scenario a:hover {
  background-color: #626262;
}
.sticky-navbar #nav-menu .nav-item-scenario .xs-menu-text {
  line-height: 12px;
}
.sticky-navbar #nav-menu .nav-item-scenario.selected {
  background-color: #626262 !important;
}
.sticky-navbar #nav-menu .nav-item-scenario a {
  padding: 0;
  color: #FFFFFF;
}
.sticky-navbar #nav-menu .nav-item-scenario .glyphicon {
  padding-bottom: 10px;
  color: #99c9ef;
  font-size: 17px;
}
.show-all-tips-menu .show-menu {
  background-color: #99c9ef;
  width: 50px;
}
/*iPad, landscape*/
@media (max-width: 1024px) {
  .navbar.sticky-navbar showall-tips ul {
    padding: 2px;
  }
  .navbar.sticky-navbar showall-tips ul.dropdown-menu {
    top: 61px;
    left: -2px;
    padding: 30px;
  }
}
@media (max-width: 1366px) {
  #nav-menu .dropdown {
    width: 155px;
  }
  #nav-menu .elipsedcontainer {
    max-width: 92px !important;
  }
}
@media (max-width: 1600px) {
  .show-all-tips-menu .dropdown-toggle.show-menu {
    padding: 0 !important;
  }
}