
<ul class="nav nav-pills navbar-left show-all-tips-menu col-xs-1" (click)="showAllTipsIsExpanded = !showAllTipsIsExpanded">
    <li role="presentation" id="showall" class="dropdown">
        <div class="dropdown-toggle show-menu  text--xs" [class.menu-expanded]="showAllTipsIsExpanded" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <div id="sign"></div>
            <span id="tips">ALL TIPS</span>
        </div>
    </li>
</ul>
<ul class="dropdown-menu show-menu-content" *ngIf="showAllTipsIsExpanded">
    <li *ngFor="let toolTip of toolTips">
        <div *ngIf="toolTip.type == 'problem_start'" class="title" style="margin-bottom:20px;">User and Business Problems</div>
        <div *ngIf="toolTip.type == 'solution_start'" class="title" style="margin-bottom:20px;">Business Solutions</div>
        <div style="display:table">
            <div class="circle-img">
                <span class="glyphicon glyphicon-pushpin tooltip-pin"></span>
            </div>
            <div style="display:table-cell; ">
                <div *ngIf="toolTip.personStatement" style="margin-bottom: 20px;">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>"{{toolTip.personStatement}}"</span>
                </div>
                <div *ngIf="toolTip.businessStatement" style="margin-bottom: 25px;">
                    <span class="glyphicon glyphicon-briefcase"></span>
                    <span>"{{toolTip.businessStatement}}"</span>
                </div>
            </div>
        </div>
    </li>
</ul>